h1 {
    /*background: rgba(27, 25, 25, 0.35);*/
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
    /*backdrop-filter: blur(7.5px);*/
    /*-webkit-backdrop-filter: blur(7.5px);*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
    /*display: inline-block;*/
    color: rgb(255, 92, 75);
    width: 100%;
    text-align: center;
}

body {
    font-family: 'Rubik', sans-serif
}