h1 {
    color: rgb(255, 92, 75);
    width: 100%;
    text-align: center;
}

body {
    font-family: 'Rubik', sans-serif
}
#chartContainer{
    position: relative;
    height:60vh;
    max-width: 900px;
    margin: auto;

}

